body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #eff4ee45;
}
/*~~~~~~~~~~~~~~~~~Task List css~~~~~~~~~~~~~~~~~~~~~~~~~*/
ul.taskList {
  list-style-type: none;
}
.cell {
  width: 320px;
  height: 70px;
  border-radius: 15px;
  /*border: 2px solid #b0cbba;
   background-color: #bee2cc; #c3c7e996;*/
  color: #efefef;
  background: linear-gradient(135deg, rgb(36 88 83) 0%, rgb(92 151 134) 100%);
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
  margin: 0 auto;
  margin-bottom: 25px;
}

.click {
  cursor: pointer;
}
/*~~~~~~ cell Task Label section ~~~~~~*/
.cell .content {
  width: 70%;
  display: inline-block;
  height: inherit;
}
.cell .content .label-cell {
  list-style-type: none;
  display: table;
  padding-top: 10px;
  padding-left: 0;
  text-align: left;
  margin: 0;
  color: #ffffffc2;
}
.cell .content li {
  display: inline-block;
  margin-right: 15px;
}
.task-label {
  display: table;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
/*~~~~~~ cell Task Side Scroll section ~~~~~~*/
.cell .side-scroll {
  width: 15%;
  margin: 0 auto;
  padding-right: 5px;
  display: inline-block;
  height: inherit;
  color: #ffffffc2;
}

.cell .side-scroll ul.arrow {
  list-style-type: none;
  display: table;
  width: inherit;
  margin: 0 auto;
  margin-top: 3px;
  padding: 0;
  height: inherit;
}
.fa-angle-up,
.fa-angle-down {
  font-size: 30px !important;
  margin-bottom: 5px;
}
/*~~~~~~ cell Task Trash can section ~~~~~~*/

.cell .features {
  width: auto;
  display: inline-block;
  padding-bottom: 6px;
  color: #ffffffc2;
  padding-left: 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~Input css~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.row-input {
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  margin-left: 40px;
}

.row-input span {
  position: relative;
  display: inline-block;
  margin: 30px 10px;
}

.slide-up {
  display: inline-block;
  width: 360px;
  padding: 10px 0 10px 15px;
  font-weight: 500;
  color: #377d6a;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 80px;
  transition: all 0.3s ease-in-out;
  /*~~~~*/
  line-height: 1.5rem;
  padding: 5px 0 5px 7px;
  font-size: 18px;

  &::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    transform: translateX(0);
    top: 0;
    left: 0;
    font-size: 30px;
    padding: 0px 8px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    transition: all 0.3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;

    &:before,
    &:after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      z-index: -1;
      transition: all 0.2s ease-in-out;
    }
    &:before {
      top: 6px;
      left: 5px;
      right: 5px;
      bottom: 6px;
      background: #134a46;
    }
    &:after {
      top: 0;
      bottom: 0;
      background: #377d6a;
    }
  }
}
span:nth-child(1) .slide-up {
  text-indent: 35px;
}
span:nth-child(3) .slide-up {
  text-indent: 125px;
}
span:nth-child(1) .slide-up:focus,
span:nth-child(1) .slide-up:active,
span:nth-child(3) .slide-up:focus,
span:nth-child(3) .slide-up:active {
  text-indent: 0;
}
.slide-up:focus,
.slide-up:active {
  color: #377d6a;
  text-indent: 0;
  background: #f6f6f6; /* #fff;*/

  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    transform: translateY(-100%);

    &:before {
      border-radius: 5px;
    }
    &:after {
      transform: translateY(100%);
    }
  }
}
/*~~~~~ sumbit button ~~~~*/
.row-input .btn {
  width: 60px;
  background-color: #377d6a;
  border-radius: 10px;
  line-height: 1.6rem;
  padding: 5px 0px 5px 0px;
  color: white;
  font-weight: 600;
  border: none;
}
/*~~~~~checkbox ~~~~~~~*/

input.box {
  border-radius: 8px;
  border: 3px solid rgba(#265f46, 0.6);
  width: 17px;
  height: 17px;
  margin-left: 18px;
}
.checked {
  text-decoration: line-through;
  color: #ffffffc2;
}
